@import "tailwindcss";

@font-face {
    font-family: 'Simple-Square';
    src: url('./fonts/ST-SimpleSquare.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

::-webkit-scrollbar {
    display: none;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    /* overscroll-behavior: none; */
    height: 100%;
}

html,
body,
.simplebar-content-wrapper {
    /* scroll-behavior: smooth; */
}


body {
    background: #000;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3{
    font-family: "Rubik" !important;
    font-weight: 400;
}

.a span,
button > span{
    font-family: "Rubik" !important;
    font-weight: 400;
}

/*Scrollbar*/

.scrollbar {
    --scrollY: 0px;
    --scrollbarHeight: 100px;
    /*z-index: 1000;x*/
    right: 0;
    top: 0;
    height: 100%;
    position: fixed;
    width: 13px;
    padding: 4px 2px;
    z-index: 999999;
}

.scrollbar:before {
    content: "";
    display: block;
    position: relative;
    top: var(--scrollY);
    width: 100%;
    height: var(--scrollbarHeight);
    border-radius: 3px;
    border: 1px solid #5c5c5c;
    background: hsl(202deg 27% 58% / 25%) !important;
    transition: background .2s linear !important;
}

.simplebar-track.simplebar-vertical {
    width: 13px !important;
    right: 1px !important;
    z-index: 9999999999 !important;
}


/* .simplebar-scrollbar:before {
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid #93969d !important;
    border-radius: 3px !important;
    backdrop-filter: blur(2px) !important;
    transition: background .2s linear !important;
    opacity: 1 !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 2px rgba(255, 255, 255, 0.2) !important;

    background: rgba(61, 158, 214, 0.3) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 2px rgba(255, 255, 255, 0.2) !important;
    border: 0.001px solid #ccc;
} */
/* .simplebar-dragging .simplebar-scrollbar:before,
.simplebar-hover .simplebar-scrollbar:before {
    background: rgba(61, 158, 214, 0.3) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 2px rgba(255, 255, 255, 0.2) !important;
} */

.simplebar-dragging .simplebar-scrollbar:before,
.simplebar-hover .simplebar-scrollbar:before,
.simplebar-scrollbar:before {
    background: #3d9ed642;
    border: 1px solid #5c5c5c;
    cursor: pointer;
}

.simplebar-scrollbar:before {
    opacity: 1 !important;
    border-radius: 3px;
    background: hsl(202deg 27% 58% / 25%) !important;
    transition: background .2s linear !important;
}

.simplebar-scrollbar:active {
    border: .001px solid rgb(255 255 255 / 20%);
}

.field__input:focus,
.field__textarea:focus {
    box-shadow: inset 2px 2px 2px rgba(7, 26, 38, .502), inset -2px -2px 2px rgba(7, 26, 38, .502);
    border: 1px solid #737373;
    z-index: 1;
}

.field__input,
.field__textarea {
    /*margin-top: 25px;*/
    z-index: 1;
    transition: all .2s ease-in-out 0s;
    display: block;
    height: 50px;
    background: #4a587d;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 12px;
    color: #ccc;
    border: 1px solid #353535;
    resize: none;
    outline: none;
    caret-color: #ccc;
}

.field__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #20272A inset !important;
    box-shadow: 0 0 0 1000px #20272A inset !important;
    -webkit-text-fill-color: #ccc !important;
    caret-color: #ccc !important;
    background: #20272A !important;
    border: 1px solid #737373 !important;
}

.field__input:-webkit-autofill:focus {
    /*-webkit-box-shadow:*/
    /*        inset 2px 2px 2px rgba(7, 26, 38, 0.502),*/
    /*        inset -2px -2px 2px rgba(7, 26, 38, 0.502),*/
    /*        0 0 0 1000px #101010 inset !important;*/
    /*box-shadow:*/
    /*        inset 2px 2px 2px rgba(7, 26, 38, 0.502),*/
    /*        inset -2px -2px 2px rgba(7, 26, 38, 0.502),*/
    /*        0 0 0 1000px #101010 inset !important;*/
    background: #20272A !important;
    border: 1px solid #737373 !important;
    -webkit-text-fill-color: #ccc !important;
    caret-color: #ccc !important;
}

.field__input:focus~.field__title-top,
.field__textarea:focus~.field__title-top {
    top: -25px;
}

.field__title-top {
    z-index: -1;
}

.field__input:focus~.field__title,
.field__input:hover~.field__title,
.field__textarea:focus~.field__title,
.field__textarea:hover~.field__title {
    opacity: 0;
}

.field__input:not(:placeholder-shown):not(:focus)~.field__title {
    z-index: -1;
}

.field__title,
.field__title-top {
    transition: all .2s ease-in-out 0s;
    position: absolute;
    top: 13px;
    left: 12px;
    font-size: 16px;
    color: #ccc;
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.field__input:not(:placeholder-shown):not(:focus)~.field__title,
.field__textarea:not(:placeholder-shown):not(:focus)~.field__title {
    z-index: -1;
}

input::placeholder {
    opacity: 0;
}

input[type='email']::placeholder {
    opacity: 1;
}

.field__title {
    z-index: 1;
    pointer-events: none;
}

.pin-wrap {
    will-change: transform;
}


@keyframes bounce-input {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-2px);
    }

    70% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.bounce {
    animation: bounce-input .4s ease;
    transition: transform .2s ease;
}

.\!duration-200 {
    --tw-duration: 200ms !important;
    transition-duration: .15ms !important;
}

/* //-------------------------------- Policy --------------------------------// */
.policy-content {
    section {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 24px;
        line-height: 120%;

        color: #3D9ED6;

        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;
        line-height: 130%;

        margin-bottom: 10px;
    }

    ul>li,
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #CCCCCC;
    }
}

.oferta-content{
    p{
        margin-bottom: 15px;
    }
}
