.contact {
  .contactContainer {
    .contactLeftContent {
      width: 260px;

      .btns {
        background: rgba(0, 0, 0, 0.07);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2px);

        .btn {
          background: rgba(42, 42, 42, 0.1);
          backdrop-filter: blur(2px);
          border-radius: 4px;

          &:hover {
            color: #ccc;

            svg path {
              fill: #cccccc;
            }
          }
        }
      }
    }

    .contactRightContent {
      background: rgba(0, 0, 0, 0.07);

      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(2px);

      .fileIcon {
        background: rgba(255, 255, 255, 0.1);
      }

      form {
        .selectOption {
          background: rgba(53, 53, 53, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
        }

        .formInpts {

          .inptEmailPhone {
            box-shadow: inset -2px -2px 2px rgba(7, 26, 38, 0.5), inset 2px 2px 2px rgba(7, 26, 38, 0.5);

            &:focus {
              box-shadow: inset 2px 2px 2px rgba(7, 26, 38, .502), inset -2px -2px 2px rgba(7, 26, 38, .502);
              border: 1px solid #737373;
            }
          }

          @keyframes bounce {
            0%, 100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-10px);
            }
          }

          .animate-bounce {
            animation: bounce 0.5s ease;
          }
        }
      }
    }
  }
}

.titleTop {
  //opacity: 0;
}


.btn {

  .sendIconLeft {
    position: absolute;
    left: 20px;
    transform: translateX(-50px);
    opacity: 0;
  }

  .sendIconRight {

  }

  &:hover {
    color: #ccc;

    span {
      transform: translateX(70px);
    }

    .pdfBtn {
      transform: translateX(40px);
    }


    .sendIconLeft {
      transform: translateX(0);
      left: 20px;
      //left: 10px;
      opacity: 1;
    }

    img.sendIconRight {
      transform: translateX(60px);
    }

    .sendIconRight {
      transform: translateX(60px);
    }
  }
}

.btn.btnDownloadPdf {
  &:hover {
    .sendIconLeft{
      left: 15px;
    }

    .sendIconRight{
      transform: translateX(65px);
    }

    span {
      transform: translateX(58px);
    }
  }
}

.linear {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, #000000 100%);
}

.faqBg {
  background-position: -460px -920px;
}

.footer {
  .footerTop {
    .form {

      form {

        button {

          &:hover {
            img {
              transform: rotate(48deg);
            }
          }

        }
      }

    }


    .links {
      .footerBtns {

        img {
          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
          }

          // Оптимизация для Next.js Image
          > span {
            display: block !important; // Убираем лишние обертки
            line-height: 0; // Убираем лишние отступы
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2540px) {
  .faqBg {
    background-position: -698px -920px;
  }


  .linear {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -60%, #000000 100%);
  }
}
