.contact {
  .contactContainer {
    .contactLeftContent {
      .btns {
        box-shadow: 0 0 10px #0009, inset 0 0 6px #ffffff1a;

        .btn {
          &:hover {
            color: #ccc;

            svg path {
              fill: #cccccc;
            }
          }
        }
      }
    }

    .contactRightContent {
      //background: rgba(0, 0, 0, 0.07);

      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);

      .fileIcon {
        background: rgba(255, 255, 255, 0.1);
      }

      input {
        user-select: none;
        /* Запрещаем выделение текста */
        pointer-events: none;
        /* Блокируем все события мыши */
      }

      form {

        /* При hover на textarea скрываем соседний span */
        textarea:hover+span {
          opacity: 0;
        }

        /* При фокусе (активном состоянии) textarea скрываем span */
        textarea:focus+span {
          opacity: 0;
        }

        .formInpts {

          .inptEmailPhone {
            box-shadow: inset -2px -2px 2px rgba(7, 26, 38, 0.5), inset 2px 2px 2px rgba(7, 26, 38, 0.5);

            &:focus {
              box-shadow: inset 2px 2px 2px rgba(7, 26, 38, .502), inset -2px -2px 2px rgba(7, 26, 38, .502);
              border: 1px solid #737373;
            }
          }

          @keyframes bounce {

            0%,
            100% {
              transform: translateY(0);
            }

            50% {
              transform: translateY(-10px);
            }
          }

          .animate-bounce {
            animation: bounce 0.5s ease;
          }
        }
      }
    }
  }
}

.selectOption {
  background: rgba(53, 53, 53, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid #353535;
  border-radius: 4px;
}

.menu-item {
  align-items: center;
  color: #878787;
  display: inline-block;
  flex: 1 0 auto;
  font-size: 16px;
  justify-content: left;
  overflow: visible;
  position: relative;
  text-align: left;
  transition: transform 0.1s ease;
  will-change: transform, color, clip-path;
  background: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    color: #3D9ED6;
  }
}

.menu-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3D9ED6;
  clip-path: inset(0 0 0 100%);
  transition: clip-path 0.1s ease, border-color 0.1s ease;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-item::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 0.1s ease, clip-path 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 19px;
  padding: 7px 20px;
  clip-path: inset(0 0 0 100%);
  transform-origin: center;
  will-change: transform, clip-path, color, border-color;
}

.menu-item:hover::before {
  clip-path: inset(0 0 0 0);
}

.menu-item:hover::after {
  clip-path: inset(0 0 0 0);
}

.btn {
  .sendIconLeft {
    position: absolute;
    left: 20px;
    transform: translateX(-50px);
    opacity: 0;
  }

  &:hover {
    color: #ccc;

    span {
      transform: translateX(83px);
    }

    .pdfBtn {
      transform: translateX(40px);
    }


    .sendIconLeft {
      transform: translateX(0);
      left: 20px;
      //left: 10px;
      opacity: 1;
    }

    img.sendIconRight {
      transform: translateX(60px);
    }

    .sendIconRight {
      transform: translateX(60px);
    }
  }
}

.btn.btnDownloadPdf {
  &:hover {
    .sendIconLeft {
      left: 15px;
    }

    .sendIconRight {
      transform: translateX(65px);
    }

    span {
      transform: translateX(56px);
    }
  }
}

.btn.requisite-btn {
  &:hover {

    span {
      transform: translateX(81px);
    }
  }
}

.linear {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -10%, #000000 100%);
  filter: blur(1px);
}

.faqBg {
  background-position: -460px -920px;
}

//-------------------------------- Blog --------------------------------//
.blog {
  .blogContainer {
    h2 {
      -webkit-text-fill-color: transparent;
      background: linear-gradient(180deg, #CCCCCC 0%, rgba(204, 204, 204, 0.443137) 100%);
      -webkit-background-clip: text;
      background-clip: text;
    }

    .blogCardsContainer {
      .blogCards {
        .card {
          height: 348px;
          background: rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(5px);

          &:hover {
            background: rgba(61, 158, 214, 0.07);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          }


          h3 {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }

}

.shadowcards {
  background: rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);

  &:hover {
    background: rgba(61, 158, 214, 0.07);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
}

.authorBlockActive {
  background: rgba(61, 158, 214, 0.07);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #ccc;

  &:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #ccc;
  }
}

.BlogPageContent {
  background: rgba(0, 0, 0, 0.07);
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(2px);

  box-shadow: 0 0 10px rgba(0, 0, 0, .6), inset 0 0 6px hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(5px);

  h3,
  h4 {
    color: #737373;
  }

  ul>li,
  p {
    font-size: 16px;
  }
}

.registerBlock {
  background: rgba(0, 0, 0, 0.07);
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 10px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .6), inset 0 0 6px hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(5px);


  //background: rgba(0, 0, 0, 0.07);
  //filter: blur(2px);

  .btn {
    background: rgba(45, 47, 47, 0.1);


    &:hover svg path {
      fill: #ccc !important;
    }
  }
}

.authorBlock {

  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Ограничить до 4 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.btn.blogNextBtn,
.btn.blogLeftBtn {
  &:hover {

    span {
      transform: translateX(65px);
    }

  }

  &:hover {
    color: #737373;

    svg rect {
      fill: #737373;
    }
  }
}

.btn.blogTryBtn {
  &:hover span {
    transform: translateX(30px);
  }
}

.btn.blogLeftBtn {
  &:hover {

    span {
      transform: translateX(97px);
    }

    .sendIconLeft {
      transform: translate(0) !important;
    }


    .sendIconRight {
      opacity: 1;
      transform: translate(0);
    }
  }

  span {
    transform: translate(50px);
  }

  .sendIconLeft {
    opacity: 1 !important;
    transform: translate(-55px) !important;
  }

  .sendIconRight {
    opacity: 0;
    transform: translate(45px);
  }
}

.btn.blogNextBtn {
  &:hover {
    span {
      transform: translateX(0px);
    }

    .sendIconRight {
      opacity: 1;
      transform: translate(0);
    }
  }

  span {
    transform: translate(50px);
  }

  .sendIconRight {
    opacity: 0;
    transform: translate(45px);
  }
}

.btn.telegramBtn {
  border-color: transparent;

  &:hover {
    span {
      transform: translateX(16px);

      color: #3D9ED6 !important;
    }

    .sendIconLeft {
      left: 13px;
    }
  }
}

// .btn.faqTryBtn {

//   &:hover {
//     span {
//       transform: translateX(55px) !important;
//     }
//   }

//   &:hover svg path {
//     fill: #CCCCCC !important;
//   }
// }

.blogAsideBtn {
  padding: 12px;

  &:hover {
    // background: rgba(61, 158, 214, 0.07);
    // box-shadow: 0 0 10px rgba(0, 0, 0, .6), inset 0 0 6px hsla(0, 0%, 100%, .1);
    // backdrop-filter: blur(5px);

    // background: #779cb140;
    // border: 1px solid #5c5c5c;
  }

}

.blogAsideBtn.blogAsideBtnActive {
  background: rgba(61, 158, 214, 0.07);
  // box-shadow: 0 0 10px rgba(0, 0, 0, .6), inset 0 0 6px hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(5px);

  // background: #779cb140;
  // border: 1px solid #5c5c5c;

}

.linkGlow::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  pointer-events: none;
  background: radial-gradient(100px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.1),
      transparent 90%);
  mask-image: radial-gradient(100px circle at var(--mouse-x) var(--mouse-y),
      white,
      transparent 90%);
  -webkit-mask-image: radial-gradient(100px circle at var(--mouse-x) var(--mouse-y),
      white,
      transparent 90%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.linkGlow:hover::after {
  opacity: 1;
}

.linkGlow:active {
  transition: transform .2s, color .5s;
  transform: scale(.95);
}


.txtGradientRight {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #ccc, #cccccc71);
  -webkit-background-clip: text;
  background-clip: text;
}

// {
//   /* Privacy policy */

// position: absolute;
// width: 518px;
// left: calc(50% - 518px/2 + 150px);
// top: 72.75%;
// bottom: 25.62%;

// font-family: 'Arial';
// font-style: normal;
// font-weight: 400;
// font-size: 13px;
// line-height: 100%;
// /* identical to box height, or 13px */
// display: flex;
// align-items: center;

// color: #737373;


// }

//-------------------------------- Editor --------------------------------//
.editorTryBlock {
  background: rgba(61, 158, 214, 0.07);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);


  .btn.faqTryBtn {
    &:hover span {
      transform: translateX(56px);
    }
  }
}


//-------------------------------- Footer --------------------------------//
.footer {
  .footerTop {
    .form {

      form:has(input:focus) button {
        transform: translateX(0);
      }

      form {
        .titleTop {
          top: 10px !important;
          color: #878787 !important;
        }

        .titleBottom {
          color: #878787 !important;
        }


        input {

          &:focus,
          &:active {
            outline: none;

            &+button {
              transform: translateX(0) !important;
            }
          }
        }

        button {
          transition: transform .1s ease-in-out;
          transform: translateX(-80px);

          &:hover {
            transform: translateX(0) !important;

            img {
              transform: rotate(48deg);
            }
          }

        }
      }

    }

    .links {
      a {
        span {
          font-weight: 300 !important;
        }
      }

      .footerBtns {

        img {
          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
          }

          >span {
            display: block !important; // Убираем лишние обертки
            line-height: 0; // Убираем лишние отступы
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2540px) {
  .faqBg {
    background-position: -698px -920px;
  }

  .linear {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -60%, #000000 100%);
  }
}