:root {
    --button-size: 40px;
    --close-width: calc(var(--button-size) / 41);
}

.close {
    display: block;
    width: 32px;
    height: 32px;
    float: right;
    cursor: pointer;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 8px;
    position: absolute;
    overflow: hidden;
    z-index: 3000;
}

.close > div {
    position: relative;
}

.close-button-block {
    width: 32px;
    height: 16px;
    position: relative;
    overflow: hidden;
}

.close-button-block:before,
.close-button-block:after {
    content: "";
    position: absolute;
    bottom: 0;

    left: calc(50% - 1px);
    display: block;
    width: 1.5px;
    height: 20px;
    transform-origin: bottom center;
    background: rgba(125, 125, 125, 1);
    transition: all ease-out 280ms;
}

.close-button-block:last-of-type {
    transform: rotate(180deg);
}

.close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(14px) translateY(-14px) rotate(45deg);
}

.close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-14px) translateY(-14px) rotate(-45deg);
}

.close .out {
    position: absolute;
    top: 0;
    left: 0;
}

.close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
}

.close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}

.close .out {
    position: absolute;
    top: 0;
    left: 0;
}

.close .out .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close .out .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
}

.close:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

.close-modal:hover {
    color: #000;
}
